### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/target/classes/AppMenuBar$1.class
/target/classes/AppMenuBar$2.class
/target/classes/AppMenuBar$3.class
/target/classes/AppMenuBar$4.class
/target/classes/AppMenuBar$5.class
/target/classes/AppMenuBar$6.class
/target/classes/AppMenuBar$7.class
/target/classes/AppMenuBar$8.class
/target/classes/AppMenuBar$StoreOption.class
/target/classes/AppMenuBar.class
/target/classes/DB.class
/target/classes/EditItem$1.class
/target/classes/EditItem$2.class
/target/classes/EditItem$3.class
/target/classes/EditItem$4.class
/target/classes/EditItem$5.class
/target/classes/EditItem$6.class
/target/classes/EditItem.class
/target/classes/EmployeeManagement$1.class
/target/classes/EmployeeManagement$2.class
/target/classes/EmployeeManagement$3.class
/target/classes/EmployeeManagement$4.class
/target/classes/EmployeeManagement$5.class
/target/classes/EmployeeManagement$6.class
/target/classes/EmployeeManagement$7.class
/target/classes/EmployeeManagement.class
/target/classes/Login$1.class
/target/classes/Login$2.class
/target/classes/Login$LocationOption.class
/target/classes/Login.class
/target/classes/Main.class
/target/classes/MainMenu.class
/target/classes/MakeASale$1.class
/target/classes/MakeASale$2.class
/target/classes/MakeASale$3.class
/target/classes/MakeASale$4.class
/target/classes/MakeASale$5.class
/target/classes/MakeASale$6.class
/target/classes/MakeASale$7.class
/target/classes/MakeASale$8.class
/target/classes/MakeASale$9.class
/target/classes/MakeASale$10.class
/target/classes/MakeASale$11.class
/target/classes/MakeASale$MultiLineTableCellRenderer.class
/target/classes/MakeASale.class
/META-INF/MANIFEST.MF
/target/classes/NewItem$1.class
/target/classes/NewItem$2.class
/target/classes/NewItem$3.class
/target/classes/NewItem.class
/target/classes/PermissionManager.class
/target/classes/Roles_Permission$RoleItem.class
/target/classes/Roles_Permission.class
/target/classes/RoundedBorder.class
/SQL/sql test
/target/classes/ViewInventory.class
/target/classes/ViewSales$1.class
/target/classes/ViewSales$2.class
/target/classes/ViewSales.class
/target/classes/WelcomeFrame$1.class
/target/classes/WelcomeFrame.class
/target/classes/WindowHelper.class
